@model IEnumerable<WebPortal.Models.Link>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (!this.User.IsInRole("Associate"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

}
    
<table class="table">
    <tr>

        @if (!this.User.IsInRole("Associate"))
        {
            <th>
                @Html.DisplayNameFor(model => model.LinkID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
        }


        <th>
            @Html.DisplayNameFor(model => model.LinkName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (!this.User.IsInRole("Associate"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.LinkID)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.URL)
            </td>
        }

        <td>
            <a href=http://@item.URL>@item.LinkName</a>
            @*@Html.ActionLink(item.LinkName, item.URL);*@
        </td>



        @if (!this.User.IsInRole("Associate"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LinkID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LinkID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LinkID })
            </td>
        }
    </tr>
    }

</table>
