@model IEnumerable<WebPortal.Models.UserViewModel>
<div class="row">
    <h4>Users</h4>

    @foreach (var user in Model)
    {
    <p>
        <strong>
            @user.Id | @user.Email | @user.Role
        </strong>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = user.Id }) |*@
            @using (@Html.BeginForm("Delete", "Account", new { id = user.Id }))
            {
                <input type="submit" value="Edit" class="btn btn-default" />
            }
            @using (@Html.BeginForm("Delete", "Account", new { id = user.Id }))
            {
                <input type="submit" value="Delete" class="btn btn-default" />
            }
        </td>
    </p>
    }
</div>